<div class="container">
<div id="add_todo">
<h2> Add A Todo! </h2>
<form method="POST" action="/todos" id="todo_form">
  <input type="text" name="todo[task]" />
  <button id="new_todo_task" >Add Todo</button>
</form>
</div>

<div class="available-todos">
  <h2>Available Todo's</h2>
  <!-- this next line was available_todos.each and needed to be @todos.each -->
  <% @todos.each do |todo| %>
    <% if todo.status != 'completed' %>
      <div class="something" id="todo-<%=todo.id%>"><%=todo.task%>
        <form class="active-todo" method="POST" action="/todos/<%=todo.id%>/complete">
          <button>Complete!</button>
        </form>
      </div>
    <% end %>
  <% end %>
</div>

<div class="completed-todos">
  <h2> Completed Todo's </h2>
  <% completed_todos.each do |todo| %>
    <li id="todo-<%=todo.id%>"><%=todo.task%></li>
  <% end %>
</div>

</div>
